<ion-view>
  <ion-content ng-class="theme">
    <div id="weather">
      <span id="temperature">{{weather.temperature | number:0}}°C</span>
      <span id="desc">{{weather.desc}}</span>
    </div>
    <div id="fact" ng-if="fact">
      <div class="card">
        <div class="item item-text-wrap">
          {{fact}}
        </div>
      </div>
    </div>
    <div id="alarms" ng-if="alarms">
      <div class="card">
        <div class="item item-text-wrap">
          <span ng-repeat="alarm in alarms">
             <span class="icon ion-ios-alarm"></span> {{alarm}}
          </span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
