$button-size: 60;
$secondery-color: #6b46e5;

#alarms-content {
  background-color: #241a44;
  color: white;

  .scroll {
    height: 100%;

    .alarm {
      hr {
        margin: 20px 0 20px 0;
        opacity: 0.3;
      }

      .extra-data {
        padding-top: 10px;
      }

      .time {
        font-size: 400%;
      }

      .toggle {
        float: right;

        input:checked + .track {
          background-color: $secondery-color;
          border-color: $secondery-color;
        }
      }
    }

    #add-alarm {
      position: fixed;
      bottom: 0;
      left: calc(50% - #{$button-size/2}px);
      height: #{$button-size}px;
      width: #{$button-size}px;
      line-height: #{$button-size - 10}px;
      text-align: center;

      background-color: $secondery-color;
      border-radius: 50%;

      color: white;
      font-size: 300%;
    }
  }
}
