<ion-view view-title="modes" id="modes-content">
  <ion-content>

    <button class="button button-full button-positive" ng-click="stopMode()">
      Stop Mode
    </button>

    <div id="modes" class="row responsive-lg">
      <div class="col card" ng-repeat="mode in modes" ng-class="mode.name" ng-click="setMode(mode.name)">
        <div class="item item-text-wrap mode-icon">
          <span class="icon" ng-class="mode.icon" />
        </div>
        <div class="item item-divider">
          {{mode.name}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
