ion-side-menu{
  &.menu .bar-header{
    background-color: $secondery-color;

    .title {
      color: white;
    }
  }

  ion-content.has-header {
    padding: 0;
  }

  //.item{
  //  border: 0;
  //}
}
