ion-side-menu.menu .bar-header {
  background-color: #0a9dc7; }
  ion-side-menu.menu .bar-header .title {
    color: white; }

ion-side-menu ion-content.has-header {
  padding: 0; }

ion-content::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover; }

ion-content.night::before {
  background-image: url("../homepage/images/night.gif"); }

ion-content.Rain::before {
  background-image: url("../homepage/images/rain.gif"); }

ion-content.Clouds::before {
  background-image: url("../homepage/images/cloudy.gif"); }

ion-content #fact {
  padding-top: 10%; }
  ion-content #fact .item {
    padding-top: 30px;
    padding-bottom: 30px; }

ion-content #weather {
  padding-top: 10%; }
  ion-content #weather #temperature {
    font-size: 500%; }
  ion-content #weather #desc {
    font-size: 200%;
    padding-top: 10px; }

#alarms-content {
  background-color: #0e0a1b;
  color: white; }
  #alarms-content .scroll {
    height: 100%; }
    #alarms-content .scroll alarm {
      padding: 200px; }
      #alarms-content .scroll alarm .time {
        font-size: 400%; }
      #alarms-content .scroll alarm .toggle {
        float: right; }
        #alarms-content .scroll alarm .toggle input:checked + .track {
          background-color: #6b46e5;
          border-color: #6b46e5; }
    #alarms-content .scroll #add-alarm {
      position: fixed;
      bottom: 0;
      left: calc(50% - 30px);
      height: 60px;
      width: 60px;
      line-height: 50px;
      text-align: center;
      background-color: #6b46e5;
      border-radius: 50%;
      color: white;
      font-size: 300%; }

ion-content {
  padding: 15%; }
  ion-content.has-header {
    padding-top: 10%;
    overflow-y: hidden; }
