@import "varibles";
@import "../core/menu/menu";
@import "../homepage/homepage";
@import "../alarms/alarms";

ion-content{
  padding: 15%;

  &.has-header{
    padding-top: 10%;
    overflow-y: hidden;
  }
}
