<div>
  <span class="time">{{item.time}}</span>
  <label class="toggle">
    <input type="checkbox" ng-model="item.active">
    <div class="track">
      <div class="handle"></div>
    </div>
  </label>
  <div class="extra-data">
    <span ng-click="editExtraData()" class="collapse icon ion-edit"></span>
    <div ng-if="item.rain"><span>If rain: {{item.rain}}</span></div>
    <div ng-if="item.mode"><span>Mode: <span class="icon" ng-class="item.mode | modeIcon"/> {{item.mode | titleCase}}</span></div>
  </div>
</div>

